body{
    margin: 0; /* Margem */
    font-family: 'Noto Sans', sans-serif; /* Fontes */
}

.barra-home{
    width: 100%;
    height: 100%;
    display: flex;
    background: #a9a9a9;
}

.nome-home{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.bt-home{
    display: flex;
    align-items: center;
    justify-content: right;
}

.bt-voltar{
    width: 100%;
    padding: 10px;
}

.bt-sair{
    width: 100%;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu-historico1{
    display: flex;
}

.nome-alunos{
    width: 20%;
    height: 49vw;
    background: red;
    display: flex;
    justify-content: center;
}

.menu-historico2{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.graficos{
    background: greenyellow;
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
}

.historico{
    width: 100%;
    height: 19vw;
    display: flex;
    justify-content: center;
}