body{
    margin: 0; /* Margem */
    font-family: 'Noto Sans', sans-serif; /* Fontes */
}

.barra-home{
    width: 100%;
    height: 100%;
    display: flex;
    background: #a9a9a9;
}

.nome-home{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.bt-home{
    display: flex;
    align-items: center;
    justify-content: right;
}

.bt-voltar{
    width: 100%;
    padding: 10px;
}

.bt-sair{
    width: 100%;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu-historico{
    width: 100%;
    display: flex;
}

.alunos{
    width: 30%;
    justify-content: center;
}

.alunos-texto{
    text-align: center;
}

.nome-alunos{
    height: 695px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.bt-alunos{
    padding: 8px;
    cursor: pointer;
    font-size: larger;
}

.historico {
    width: 100%;
}

.historico-info {
    height: 695px;
    display: block;
    overflow-y: scroll;
}

.historico-texto{
    text-align: center;
}

.info-left-and-right {
    margin-top: 8px;
    display: flex;
    align-self: center;
}

.info-left {
    width: 100%;
    background: #a9a9a9;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.info-right {
    width: 80%;
    background: #a9a9a9;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprints{
    margin-top: 5px;
    display: flex;
    align-self: center;
}

.info-sprint{
    width: 100%;
    background: #a9a9a9;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.sem-avaliacao{
    display: flex;
    justify-content: center;
}