@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0; /* Margem */
    font-family: 'Noto Sans', sans-serif; /* Fontes */
}

body * {
    box-sizing: border-box; /* Dimensionamento de Caixa */
}

.main-instrutor{
    width: 100vw; /* Largura */
    height: 100vh; /* Altura */
    background: #dcdcdc; /* Fundo */
    display: center; /* Exibição */
    justify-content: center; /* Justificar Conteúdo */
    align-items: center; /* Itens de Alinhamento */
}

.center-instrutor{
    width: 100%; /* Largura */
    height: 100%; /* Altura */
    display: flex; /* Exibição */
    justify-content: center; /* Justificar Conteúdo */
    align-items: center; /* Itens de Alinhamento */
}

.botoes{
    width: 60%; /* Largura */
    display: flex; /* Exibição */
    justify-content: center; /* Justificar Conteúdo */
    align-items: center; /* Itens de Alinhamento */
    flex-direction: column; /* Direção Flexível */
    padding: 30px 35px; /* Preenchimento */
    background: #a9a9a9; /* Fundo */
    border-radius: 20px; /* Raio da Borda */
    box-shadow: 0px 10px 40px #c0c0c0; /* Sombra da Caixa */
}

.botoes > h1{
    color: black; /* Cor */
    font-weight: 800; /* Espessura da Fonte */
    margin: 0; /* Margem */
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: white;
    color: #000;
    font-size: 12pt;
    box-shadow: 0px 5px 20px #c0c0c0;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #000; /* Cor */
    margin-bottom: 10px; /* Margem do Botão */
}

.textfield > input::placeholder{
    color: #000; /* Cor */
}

.botao-cadastrar{
    width: 50%; /* Largura */
    padding: 16px 0px; /* Preenchimento */
    margin: 15px; /* Margem */
    border: none; /* Borda */
    border-radius: 8px; /* Raio da Borda */
    outline: none; /* Contorno */
    text-transform: uppercase; /* Transformação do Texto */
    font-weight: 800; /* Espessura da Fonte */
    letter-spacing: 2px; /* Espaçamento entre Letras */
    color: #000; /* Cor */
    background: #e49632; /* Fundo */
    cursor: pointer; /* Cursor */
}

.botao-avaliar{
    width: 50%;
    padding: 16px 0px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #000;
    background: #e49632;
    cursor: pointer;
}

.botao-historico{
    width: 50%;
    padding: 16px 0px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #000;
    background: #e49632;
    cursor: pointer;
}

@media only screen and (max-width: 950px){
    .botoes{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-instrutor{
        flex-direction: column;
    }
    .center-instrutor{
        width: 100%;
        height: auto;
    }
}

/* .botao-cadastrar{
    display: none;
} */

